{% load i18n settings_value %}
{% load render_bundle from webpack_loader %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title|default:'Home' }}</title>

  {% render_bundle 'app' 'css' %}
</head>
<body>
  {% block body %}
    <div id="app"></div>
  {% endblock %}

  <script>
    window.app_locale = '{{ LANGUAGE_CODE }}';
    window.app_name = '{% settings_value 'APP_NAME' %}';
  </script>
  {% render_bundle 'main' 'js' %}
  {% render_bundle 'vendor' 'js' %}
{#  {% render_bundle 'login-popup' 'js' %}#}
  {% render_bundle 'app' 'js' %}
</body>
</html>
